body {
	background: black;
	color: white;
}

select {
	color: black;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	width: 50%;
}

select:focus, select:active, select:hover {
	outline-color: #ed1c56;
}

#logo {
	margin-top: 3%;
}

#logo img {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 15%;
	height: auto;
}

#title {
	margin-top: 2%;
	text-align: center;
}

#title h5 {
	font-weight: 700;
}

#title h6 {
	margin-top: -2%;
}

#instructions p {
	margin-top: 2%;
	text-align: center;
}

#dropdowns {
	text-align: center;
}

#overlay {
	position: absolute;
	width: 100%;
	height: 71%;
	height: 100%;
	background: black;
	bottom: 0%
}

#overlay h4 {
	text-align: center;
}

#resultsText {
	font-weight: 700;
	text-align: center;
	opacity: 0;
	pointer-events: none;
}

.rightAligned {
	text-align: right;
}

.centreAligned {
	text-align: center;
}

.leftAligned {
	text-align: left;
}

#dropdownColumn, #outputColumn {
	text-align: center;
}

#dropdownColumn button {
	width: 60%;
  font-size: 12px;
	margin-top: 1%;
}

#outputColumn button {
	width: 100%;
  font-size: 12px;
	margin-top: 1%;
}

#output {
	background: #000;
	overflow: auto;
	height: 418px;
  line-height: 0.5;
  outline: #666 solid 1px;
	display: none;
}

#output p {
	margin-left: 2%;
	margin-top: 2%;
	position: relative;
	text-align: left;
	pointer-events: none !important;
}

#dropdownButtons, #outputButtons {
	margin-top: 5%;
	display: none;
	/* opacity: 0.3;
	pointer-events: none; */
}

.deleteButton {
	float: left;
	position:relative;
	width:15px;
	height: 15px;
	background-image: url("../images/delete-button.png");
	background-size: cover;
	margin-left: 3%;
	margin-right: 3%;
	margin-top: -1%;
	/* background: darkred; */
}

#copyButton {
	display: none;
}

/* ::-webkit-scrollbar-button:horizontal:increment {
  display: block;
}
::-webkit-scrollbar-button:horizontal:decrement {
  display: block;
} */
