body {
	background: black;
	color: white;
}

select {
	color: black;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	width: 50%;
}

select:focus, select:active, select:hover {
	outline-color: #ed1c56;
}

#logo {
	margin-top: 3%;
}

#logo img {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 15%;
	height: auto;
}

#title {
	margin-top: 2%;
	text-align: center;
}

#title h5 {
	font-weight: 700;
}

#title h6 {
	margin-top: -2%;
}

#instructions p {
	margin-top: 2%;
	text-align: center;
}

#dropdowns {
	text-align: center;
}

#overlay {
	position: absolute;
	width: 100%;
	height: 71%;
	height: 100%;
	background: black;
	bottom: 0%
}

#overlay h4 {
	text-align: center;
}

#previewText, #resultsText {
	font-weight: 700;
	text-align: left;
	pointer-events: none;
}

.rightAligned {
	text-align: right;
}

.centreAligned {
	text-align: center;
}

.leftAligned {
	text-align: left;
}

#workspace {
	margin-top: 3%;
}

#dropdownColumn, #previewCOlumn, #outputColumn {
	text-align: center;
}

#dropdownColumn button {
	width: 80%;
  font-size: 12px;
	margin-top: 1%;
}

#previewColumn button {
	width: 100%;
  font-size: 12px;
	margin-top: 1%;
}

#outputColumn button {
	width: 100%;
  font-size: 12px;
	margin-top: 1%;
}

#preview, #output {
	background: #000;
	overflow: auto;
	height: 418px;
  line-height: 0.5;
  outline: #666 solid 1px;
	display: none;
}

#preview p, #output p {
	margin-left: 2%;
	margin-top: 4%;
	position: relative;
	text-align: left;
	pointer-events: none !important;
}

#output p {
	margin-left: 12%;
}

#preview {
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

#dropdownButtons, #previewButtons, #outputButtons {
	margin-top: 10%;
	display: none;
}

.deleteButton {
	float: left;
	position:relative;
	width:15px;
	height: 15px;
	background-image: url("../images/delete-button.png");
	background-size: cover;
	margin-left: 3%;
	margin-right: 3%;
	margin-top: -1%;
}

#copyButton {
	display: none;
}
