body {
	background: black;
	color: white;
}

select {
	color: black;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	width: 30%;
}

select:focus, select:active, select:hover {
	outline-color: #ed1c56;
}

#logo {
	margin-top: 4%;
}

#logo img {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 15%;
	height: auto;
}

#title {
	margin-top: 2%;
	text-align: center;
}

#title h5 {
	font-weight: 700;
}

#title h6 {
	margin-top: -2%;
}

#instructions p {
	margin-top: 2%;
	text-align: center;
}

#dropdowns {
	text-align: center;
}

#overlay {
	position: absolute;
	width: 100%;
	height: 71%;
	height: 100%;
	background: black;
	bottom: 0%
}

#resultsCounter {
	/* margin-top: 3%; */
	display: none;
	/* text-align: center; */
}

#resultsCounter p {
	font-weight: 700;
	margin-top: 2%;
	text-align: center;
	margin-bottom: -1%;
	/* font-size: 12; */
}

#buttons {
	margin-top: 3%;
	/* display: none; */
}

.rightAligned {
	text-align: right;
}

.centreAligned {
	text-align: center;
}

.leftAligned {
	text-align: left;
}

button {
	width: 50%;
	/* margin-top: 1%; */
  font-size: 12px;
}
