body {
	background: black;
	color: white;
}

select {
	color: black;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	width: 30%;
}

#logo {
	margin-top: 5%;
}

#logo img {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 20%;
	height: auto;
}

#title {
	margin-top: 2%;
	text-align: center;
}

#title h5 {
	font-weight: 700;
}

#title h6 {
	margin-top: -2%;
}

#instructions p {
	margin-top: 5%;
	text-align: center;
}

#dropdowns {
	text-align: center;
}

#overlay {
	position: absolute;
	width: 100%;
	height: 71%;
	height: 100%;
	background: black;
	bottom: 0%
}

#resultsCounter {
	margin-top: 5%;
	display: none;
	text-align: center;
}

#resultsCounter h5 {
	font-weight: 700;
}

#buttons {
	margin-top: 5%;
	display: none;
}

.rightAligned {
	text-align: right;
}

.centreAligned {
	text-align: center;
}

.leftAligned {
	text-align: left;
}
